<ng-template #itemTemplate let-item="item" let-index="index"><img src="{{item.value.url}}" (click)="removeImage(image)" /></ng-template>

<bs-sortable
[(ngModel)]="offer.images"
[itemTemplate]="itemTemplate"
itemClass="sortable-image m-1"
></bs-sortable>

<ng-container *ngIf="uploadingCount">
  <hr>
  <div class="spinner-border m-2" role="status" aria-hidden="true"></div>
</ng-container>

<hr>
<div class="form-group">
  <input type="file" class="form-control-file" (change)="fileChanged($event)" multiple="multiple">
</div>
