<div class="card mb-3" [ngClass]="{'border-primary': parameterInfo.required, 'border-light': !parameterInfo.required}">
    <div class="card-header">{{parameterInfo.name}}</div>
    <div class="card-body">
      <ng-container [ngSwitch]="getParameterControlType()">
        <app-select *ngSwitchCase="'select'" [parameter]="parameter" [parameterInfo]="parameterInfo"></app-select>
        <app-checkbox *ngSwitchCase="'checkbox'" [parameter]="parameter" [parameterInfo]="parameterInfo"></app-checkbox>
        <app-number *ngSwitchCase="'number'" [parameter]="parameter" [parameterInfo]="parameterInfo"></app-number>
        <app-string *ngSwitchCase="'string'" [parameter]="parameter" [parameterInfo]="parameterInfo"></app-string>

        <div *ngSwitchDefault>Parameter o ID {{parameter.id}} ({{parameterInfo.name}}) nie mógł zostać wyświetlony - zgłoś to administratorowi.</div>
      </ng-container>
  </div>
</div>