<div class="modal-header">
  <h4 class="modal-title pull-left">Oferta zawiera błędy</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let error of errors" class="alert alert-danger" role="alert">
    {{error.userMessage}}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Zamknij</button>
</div>