<div class="card border-light mb-3">
  <div class="card-header">Lista ofert</div>
  <div class="card-body">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Status</th>
            <th scope="col">Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of offers">
            <th><a href="https://allegro.pl/show_item.php?item={{offer.id}}" target="_blank">{{offer.id}}</a></th>
            <td>{{offer.name}}</td>
            <td [ngSwitch]="offer.publication.status">
              <ng-container *ngSwitchCase="'INACTIVE'">
                <span class="badge badge-pill badge-info">w przygotowaniu</span>
              </ng-container>
              <ng-container *ngSwitchCase="'ACTIVATING'">
                <span class="badge badge-pill badge-warning">w trakcie wystawiania</span>
              </ng-container>
              <ng-container *ngSwitchCase="'ACTIVE'">
                <span class="badge badge-pill badge-success">wystawiona</span>
              </ng-container>
              <ng-container *ngSwitchCase="'ENDED'">
                <span class="badge badge-pill badge-dark">zakończona</span>
              </ng-container>
            </td>
            <td>
              <a *ngIf="offer.publication.status === 'INACTIVE'"><button type="button" class="btn btn-success m-1" (click)="publishOffer(offer.id)">Wystaw</button></a>
              <a *ngIf="offer.publication.status === 'INACTIVE'" routerLink="/szkic/edycja/{{offer.id}}"><button type="button" class="btn btn-info m-1">Edytuj</button></a>
              <a *ngIf="offer.publication.status === 'INACTIVE'" routerLink="/szkic/usuwanie/{{offer.id}}"><button type="button" class="btn btn-danger m-1">Usuń</button></a>
            </td>
          </tr>
        </tbody>
    </table>
</div>
</div>