<fieldset class="form-group">
    <div class="form-check parameter-inline-checkbox" *ngFor="let dictEntry of parameterInfo.dictionary">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [value]="dictEntry.id" (change)="onChange(dictEntry.id)" [checked]="hasId(dictEntry.id)"> {{dictEntry.value}}
        </label>
    </div>
</fieldset>