<div class="form-group">
  <select [(ngModel)]='parameter.valuesIds[0]' class="form-control">
    <option *ngFor="let dictEntry of parameterInfo.dictionary" [value]="dictEntry.id">{{dictEntry.value}}</option>
  </select>
</div>