<div class="container-fluid">
<ng-container *ngIf="offer">
    <div class="row">
        <div class="col-8">
            <div class="card border-light mb-3">
                <div class="card-header">Tytuł oferty</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" [ngClass]="{'is-invalid': ((50 - getAllegroTitleLength(offer.name)) < 0)}" class="form-control" placeholder="Tytuł oferty" [(ngModel)]='offer.name'>
                        <p *ngIf="getAllegroTitleLength(offer.name) <= 50">Pozostało {{50 - getAllegroTitleLength(offer.name)}} znaków.</p>
                        <p *ngIf="getAllegroTitleLength(offer.name) > 50">Tytuł zbyt długi o {{getAllegroTitleLength(offer.name) - 50}} znaków.</p>
                    </div>
                </div>
            </div>

            <div class="card border-light mb-3">
                <div class="card-header">Zdjęcia</div>
                <div class="card-body">
                    <app-images [offer]="offer"></app-images>
                </div>
            </div>
        
            <div class="card border-light mb-3">
                <div class="card-header">Opis oferty</div>
                <div class="card-body">
                    <app-description [description]="description"></app-description>
                </div>
            </div>
        
            <div class="card border-light mb-3">
                <div class="card-header">Kategoria</div>
                <div class="card-body">
                    <div class="list-group">
                        <a *ngIf="selectedCategory" (click)="selectCategory(selectedCategory.parent ? selectedCategory.parent.id : null)" class="list-group-item list-group-item-action category-picker-selectable">wstecz</a>
                        <a *ngIf="selectedCategory" class="list-group-item list-group-item-action category-picker-selected">Wybrano: {{selectedCategory.name}}</a>
                        <ng-container *ngIf="categoryPickerCategories">
                            <a *ngFor="let category of categoryPickerCategories" (click)="selectCategory(category.id)" class="list-group-item list-group-item-action category-picker-selectable">{{category.name}}</a>
                        </ng-container>
                    </div>
                </div>
            </div>
        
            <div class="card border-light mb-3">
                <div class="card-header">Cena</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Cena" [(ngModel)]='offer.sellingMode.price.amount'>
                    </div>
                </div>
            </div>
        
            <div class="card border-light mb-3">
                <div class="card-header">Liczba sztuk</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="number" min="1" class="form-control" placeholder="Liczba sztuk" [(ngModel)]='offer.stock.available'>
                    </div>
                </div>
            </div>
        
            <div class="card border-light mb-3">
                <div class="card-header">Parametry kategorii</div>
                <div class="card-body">
                    <ng-container *ngIf="categoryParameters">
                        <div *ngFor="let parameter of offer.parameters">
                            <app-parameter *ngIf="getMatchingParameterInfo(parameter) && getMatchingParameterInfo(parameter).required" [parameter]="parameter" [parameterInfo]="getMatchingParameterInfo(parameter)"></app-parameter>
                        </div>
                        <div *ngFor="let parameter of offer.parameters">
                            <app-parameter *ngIf="getMatchingParameterInfo(parameter) && !getMatchingParameterInfo(parameter).required" [parameter]="parameter" [parameterInfo]="getMatchingParameterInfo(parameter)"></app-parameter>
                        </div>
                    </ng-container>
        
                    <ng-container *ngIf="!categoryParameters">
                        <p>Brak parametrów dla wybranej kategorii.</p>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="sticky-top">
                <div class="card border-light mb-3">
                    <div class="card-header">Akcje aukcyi</div>
                    <div class="card-body">
                        <button (click)="save()" type="button" class="btn btn-info btn-lg">Zapisz zmiany</button>
                    </div>
                </div>

                <div class="card border-light mb-3">
                    <div class="card-header">Podgląd opisu</div>
                    <div class="card-body">

                        <ng-container *ngIf="description">
                            <div class="description-preview" [innerHtml]="descriptionService.getDescriptionPreview(description)">
                                
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
</div>