.category-picker-selectable {
    cursor: pointer;
}

.category-picker-selected {
    background: #EFEFEF;
}

.description-preview {
    overflow: auto;
}

.description-preview h1 {
    font-size: 1.5rem;
    line-height: 1.7;
}

.description-preview h2, .description-preview h3, .description-preview h4, .description-preview h5, .description-preview h6 {
    font-size: 1.2rem;
    line-height: 1.7;
}