<div *ngIf="description">
    <div *ngFor="let element of description.elements">




        <div class="card border-light mb-3">
                <div class="card-header">{{element.displayedName}}</div>
                <div class="card-body">




        <div *ngIf="element.type === 'text'" class="form-group">
            <textarea class="form-control" [(ngModel)]='element.value'></textarea>


            <button
                *ngFor="let predefinedValue of element.predefinedTextValues"
                type="button"
                class="btn btn-outline-primary m-1 btn-sm"
                (click)="setPredefinedTextValue(element, predefinedValue)"
            >{{predefinedValue}}</button>

        </div>
        <div *ngIf="element.type === 'list'" class="form-group">
            <div class="row m-1" *ngIf="element.predefinedListValuesSets.length > 0">
                <div class="col">
                    <select class="form-control" [(ngModel)]='element.newPredefinedListSetValue'>
                        <option *ngFor="let set of element.predefinedListValuesSets" value="{{set.displayedName}}">{{set.displayedName}}</option>
                    </select>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" (click)="addValueSet(element)">Dodaj zestaw</button>
                </div>
            </div>
            <div class="row m-1">
                <div class="col">
                    <select class="form-control" [(ngModel)]='element.newPredefinedListValue'>
                        <optgroup *ngFor="let category of element.predefinedListValues" label="{{category.category}}">
                            <option *ngFor="let value of category.values" value="{{value}}">{{value}}</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" (click)="addValue(element, true)">Dodaj pojedynczy</button>
                </div>
            </div>

            <hr>
            <p *ngIf="element.values.length === 0">Nie dodano jeszcze żadnych wartości</p>
            
            <div class="row description-list-values" *ngFor="let value of element.values">
                <div class="col-sm">
                    <input type="text" class="form-control" [(ngModel)]='value.name' placeholder="Opis">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" [(ngModel)]='value.value' placeholder="Wartość">
                </div>
                <div class="col-sm">
                    <button (click)="removeValue(element, value)" type="button" class="btn btn-danger">usuń</button>
                </div>
            </div>
        </div>

        </div></div>
    </div>
</div>
<div *ngIf="!description">
    <p>Obecnie nie istnieje możliwość powtórnej edycji opisu.</p>
</div>